@import 'tailwindcss';

@theme {
  --color-background: #121212;
  --color-surface: #1f1f1f;
  --color-foreground: #ffffff;
}

@layer base {
  body {
    @apply text-foreground;
    @apply bg-background;
  }

  button:not(:disabled) {
    @apply cursor-pointer;
  }
}
