@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);

  --color-dnf: theme(colors.red.500);
  --color-plusTwo: theme(colors.orange.500);
  --color-green: theme(colors.green.500);
}

@layer base {
  :root,
  .dark {
    --background: #121212;
    --surface: #1f1f1f;
    --foreground: #ffffff;
  }

  .light {
    --background: #ffffff;
    --surface: #f3f4f6;
    --foreground: #121212;
  }

  body {
    @apply text-foreground;
    @apply bg-background;
  }

  button:not(:disabled) {
    @apply cursor-pointer;
  }
}
